.EnemyUpperTable {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr;
}

.EnemyTurn {
  grid-column-start: 3;
  grid-column-end: 4;

  grid-row-start: 1;
  grid-row-end: 2;
}

.EnemyNamePlate {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.EnemyScore {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  color: white;
  background: rgb(156, 149, 119);
  align-self: center;
  justify-self: left;
  text-align: center;
  line-height: 60px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.EnemyRoundsWon {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  width: 70px;
}

.EnemyCardsOnTable {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}
